extends layout


append scripts
	link(rel="stylesheet", href="/profile.css")

block header
	a(href="/profiles", data-transition="slide", data-direction="reverse") Users
	h1 #{title}
	if logged_in
		a(href="/logout", class="ui-btn-right", rel="external") Logout
	else
		a(href="/login", class="ui-btn-right", rel="external") Login


block content
	#main
		#info
			mixin getDate(time)
				var date = new Date(time*1000); return date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()}

			mixin listItem(user, checkin)
				li(data-icon="arrow-r")
					a(href="http://maps.google.com/maps?q=#{checkin.venue.location.lat},#{checkin.venue.location.lng}", rel="external", target="_blank")
						h3 #{user.name.givenName} #{user.name.familyName} checked in at #{checkin.venue.name}
						p #{checkin.venue.location.city}, #{checkin.venue.location.state}
			.divider
				.innerDivider

			#driverImage
				div(class= "driverImage", style="background-image: url('#{user.photo}')")
				h3 #{user.name.givenName} #{user.name.familyName}
				h4 #{phone}
				#bidDiv
					form(name="bidForm", action="/users/#{user.foursquareId}/bid", method="post", data-ajax="false")
						input(type="number", name="bid", id="bid", value="#{user.bidForm}")
						input(type="submit", name="submit", id="submit", value="", value="Change Bid", data-theme="b")

			#checkin_list
				ul(data-role="listview", data-inset="false")
					li(data-role="list-divider", data-theme="b") Checkins
					each checkin in checkins
						+listItem(user, checkin)

		#deliveryList
			.divider
					.innerDivider
			mixin deliveryItem(delivery, user)
				li(data-icon="check")
					a(href="/users/#{user._id}/delivery/#{delivery._id}/complete", rel="external")
						h3 #{delivery.address}
						p Due: #{delivery.due}
			ul(data-role="listview", data-inset="false")
				each delivery in deliveries
					+deliveryItem(delivery, user)

block footer
	a(href="/users/#{user_id}/register/uri", data-transition="slide", style="margin:4px") Available For Deliveries

